*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:700px;
    background:url(https://images.indianexpress.com/2022/12/allahabad-university.jpg) no-repeat center/cover ;

}

.wrapper {
    width: 700px;
    color: #184eb3;
    border-radius: 12px;
    padding: 30px 40px;
    /* background: rgba(16, 223, 33, 0.918); */
    background-color: rgba(6, 65, 104, 0.278);
    border: 2px solid rgba(53, 124, 168, 0.3);
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.input-box {
    width: 100%;
    height: 50px;
    margin: 30px 2px;
    /* position: relative; */
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 3px solid rgb(39, 158, 98);
    border-radius: 25px;
    padding:  20px;
    outline: none;
    color: #f8f2f2;
    font-size: 18px;
}

.input-box input::placeholder {
    color: rgb(228, 220, 220);
    font-size: 20px;
}

.forget{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 15px ;
}

.forget label input {
    accent-color: #595a5a;
    margin-right: 17px;
}

.forget.a{
    color: #e5e5ee;
    /* text-decoration: none; */
    font-size: 20px;
}

forget a:hover{
    text-decoration: underline;
    font-size: px;
}

.btn {
    width: 100%;
    height: 45px;
    background: #5f9dcf;
    border-radius: 25px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(7, 7, 7, 0.014);
    cursor: pointer;
    color: #131212;
    font-weight: 600;
    font-size: 16px;
    /* transition:1s; */
}

.btn:hover {
    background: #2daf3a;
    transition: 50ms;
}

.register-link {
    font-size:16px;
    text-align: center;
    margin-top: 20px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    background-size: contain;
}

.register-link p a:hover {
    text-decoration: underline;
}
